<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>eos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14894FE61F1D7DF50030E48D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14894FFC1F1D7DF60030E48D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>148950071F1D7DF60030E48D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
